.flex{
    display: flex;
    align-items: center;
}
.container{
    max-width: 1180px;
    margin-inline: auto;
    overflow: hidden;
}
.main-div{
       justify-content: space-between;
}
:root{
    --primary-text : black;
}
nav {
    background-color: #f3faff;
    box-shadow: 0 0 4px #bbd0e2;
    position: fixed;
    top: 0;
    z-index: 99;
    left: 0;
    right: 0;
}
.list-item{
    gap: 1.5rem;
    font-size: 1.5rem;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}